.about-container{
    margin-top: 72.4px;
}

.about-container .first-row{
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
}

.about-container .first-row .background{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: var(--primary-color);
}

.about-container .first-row .background img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.3;
}

.about-container .first-row .first-col{
    width: 40%;
}

.about-container .first-row .first-col .header{
    font-size: 35px;
    font-weight: bolder;
}

.about-container .first-row .first-col .quote{
    margin-top: 20px;
}

.about-container .first-row .second-col{
    width: 40%;
    box-shadow: 15px 15px 0px white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 300px;
}

.about-container .first-row .second-col img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.about-container .second-row{
    padding: 100px;
}

.about-container .second-row .header{
    font-size: 30px;
    font-weight: bolder;
}

.about-container .second-row .para-top{
    margin-top: 30px;
    margin-bottom: 20px;
}

.about-container .second-row .para-bottom{
    margin-top: 20px;
}

.about-container .second-row .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about-container .second-row .col{
    background-color: white;
    color: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
    width: 400px;
}

.about-container .second-row .col span{
    margin-right: 15px;
}

.about-container .second-row .col .title{
    font-weight: bolder;
}

.about-container .second-row .col .desc{
    margin-top: 20px;
}

.about-container .third-row{
    color: var(--primary-color);
    padding: 100px;
    background-color: #F1F3F6;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.about-container .third-row .first-col{
    width: 40%;
}

.about-container .third-row .second-col{
    width: 40%;
}

.about-container .third-row .header{
    font-size: 30px;
    font-weight: bolder;
}

.about-container .third-row .first-col .row{
    margin-top: 20px;
}

.about-container .third-row .first-col .row .title{
    font-weight: bolder;
}

.about-container .third-row .first-col .row i{
    color: rgb(5, 215, 43);
    margin-right: 10px;
}

.about-container .third-row .first-col .row .first{
    margin-bottom: 10px;
}

.about-container .third-row .second-col .grid{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.about-container .third-row .second-col .grid .item{
    border: 3.5px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    width: 200px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.about-container .third-row .second-col .grid .item i{
    font-size: 30px;
}

.about-container .third-row .second-col .grid .item .name{
    font-weight: 600;
}

.about-container .third-row .second-col .grid .item:hover{
    background-color: var(--primary-color);
    color: white;
}

.about-container .fourth-row{
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.about-container .fourth-row .header{
    font-size: 30px;
    font-weight: bolder;
}

.about-container .fourth-row .grid{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.about-container .fourth-row .grid .item{
    background-color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    gap: 5px;
    border-radius: 8px;
    color: var(--primary-color);
}

.about-container .fourth-row .grid .item i{
    font-size: 30px;
}

.about-container .fourth-row .grid .item .title{
    font-weight: bolder;
    margin-top: 20px;
}

.about-container .fifth-row{
    padding: 100px;
    background-color: white;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container .fifth-row .header{
    font-size: 30px;
    font-weight: bolder;
}

.about-container .fifth-row a{
    margin-top: 20px;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    color: white;
    border: 3.5px solid var(--primary-color);
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.about-container .fifth-row a:hover{
    background-color: transparent;
    color: var(--primary-color);
}

@media screen and (max-width: 950px){
    .about-container .first-row{
        flex-direction: column-reverse;
    }

    .about-container .first-row .second-col{
        width: 100%;
    }

    .about-container .first-row .first-col{
        width: 100%;
    }
}

@media screen and (max-width: 1000px){
    .about-container .third-row{
        padding: 20px;
        flex-direction: column;
    }

    .about-container .third-row .header{
        font-size: 25px;
    }

    .about-container .third-row .first-col, .about-container .third-row .second-col{
        width: 100%;
    }

    .about-container .first-row .second-col{
        box-shadow: 8px 8px 0px white;
    }

    .about-container .third-row .second-col .grid .item{
        width: 100%;
    }
}

@media screen and (max-width: 760px){
    .about-container .first-row{
        padding: 20px;
    }

    .about-container .first-row .first-col .header{
        font-size: 25px;
    }
    
    .about-container .second-row{
        padding: 20px;
    }

    .about-container .second-row .header{
        font-size: 25px;
    }

    .about-container .second-row .row{
        flex-direction: column;
    }

    .about-container .second-row .col{
        width: 100%;
    }

    .about-container .fourth-row{
        padding: 20px;
    }

    .about-container .fourth-row .header{
        font-size: 20px;
        align-self: flex-start;
    }

    .about-container .fourth-row .grid .item{
        width: 100%;
    }

    .about-container .fifth-row{
        padding: 20px;
    }

    .about-container .fifth-row .header{
        font-size: 25px;
        margin-bottom: 10px;
    }
}

