.career-container {
    margin-top: 80px;
    background-color: white;
    padding: 20px;
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.career-container main {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--primary-color);
}

.career-container .career-date,
.career-container .career-views {
    color: #4d4d4d;
}

.career-container .career-date i,
.career-container .career-views i {
    margin-right: 8px;
}

.career-container .date-views-wrapper {
    display: flex;
    gap: 20px;
}

.career-container main .career-thumbnail {
    width: 100%;
    height: 500px;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.career-container main .career-thumbnail img {
    height: 100%;
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
}

.career-container main .career-body {
    white-space: pre-wrap;
    font-size: 20px;
    color: var(--primary-color);
}

.career-container .second-row {
    background-color: var(--primary-color);
    width: 60%;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    color: white;
    justify-content: space-between;
    border-radius: 8px;
}

.career-container .second-row .left {
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
}

.career-container .second-row .right {
    display: flex;
    gap: 20px;
}

.career-container .second-row a {
    color: white;
    font-size: 25px;
}

.career-container .third-row {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.career-container .third-row .title {
    font-size: 22px;
    font-weight: bolder;
    color: var(--primary-color);
    align-self: flex-start;
}

.career-container .third-row .recent-careers-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.career-container .third-row .recent-careers-wrapper .recent-career {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 2px 2px var(--primary-color);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.career-container .third-row .recent-careers-wrapper a {
    text-decoration: none !important;
    color: var(--primary-color) !important;
}

.career-container .third-row .recent-careers-wrapper .recent-career:hover {
    box-shadow: 0px 5px 5px var(--primary-color);
}

.career-container .third-row .recent-careers-wrapper .recent-career h3 {
    max-width: 250px;
    width: auto;
}

.career-container .third-row .recent-careers-wrapper .recent-career .recent-career-thumbnail {
    height: 100px;
    width: 100px;
    border-radius: 8px;
}

.career-container .third-row .recent-careers-wrapper .recent-career .recent-career-thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.career-container .second-row i, .career-container .second-row i{
    margin-right: 10px;
}

@media screen and (max-width: 760px) {
    .career-container {
        margin-top: 50px;
    }
    .career-container main {
        width: 100% !important;
    }
    .career-container .second-row {
        width: 100%;
    }
    .career-container .second-row .left {
        font-size: 16px;
    }
    .career-container .second-row .right {
        gap: 12px;
    }
    .career-container .second-row a {
        font-size: 18px;
    }
    .career-container main .career-thumbnail {
        height: 200px;
    }
    .career-container .third-row {
        width: 100%;
    }
    .career-container .third-row .recent-career {
        width: 100%;
        justify-content: flex-start !important;
    }
}
