.footer-container{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-container .first-col .logo{
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
}

.footer-container .first-col a{
    color: white;
    text-decoration: none;
}

.footer-container .middle{
    font-size: 15px;
    color: rgb(247, 247, 247);
}

.footer-container .second-col .links{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer-container .second-col .links a{
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.footer-container .second-col .links a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 970px){
    .footer-container .first-col .logo{
        font-size: 20px;
    }
    .footer-container .middle{
        display: none;
    }
    .footer-container .second-col .links a{
        font-size: 18px;
    }
}