.footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container .logo {
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}

.footer-container .logo span {
    color: var(--primary-color);
}

.footer-container a {
    color: white;
}

.footer-container .logo a {
    text-decoration: none;
}


.footer-container .links {
    display: flex;
    gap: 30px;
    font-size: 14px;
}

.footer-container .links a {
    color: rgb(220, 220, 220);
    font-weight: 200;
}

.footer-container .socials {
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.footer-container .socials a {
    cursor: pointer;
}

.footer-container .socials a:hover {
    color: var(--primary-color);
}

@media screen and (max-width: 900px) {
    .footer-container .links {
        display: none;
    }
}