.form-component-container{
    padding: 100px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.form-component-container .first-col, .form-component-container .second-col{
    width: 45%;
}

.form-component-container .first-col .header{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.form-component-container .second-col .header{
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: bolder;
}

.form-component-container .first-col .info{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 300;
}

.form-component-container .first-col .info i{
    margin-right: 10px;
    font-size: 20px;
    background-color: #F1F3F6;
    padding: 10px;
    border-radius: 50%;
}

.form-component-container .first-col .socials{
    margin-top: 25px;
}

.form-component-container .first-col .socials .title{
    font-weight: bolder;
}

.form-component-container .first-col .socials a{
    margin-right: 10px;
    font-size: 20px;
    color: black;
}

.form-component-container .first-col .socials a i{
    background-color: #F1F3F6;
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 50%;
    margin-top: 10px;
}

.form-component-container .second-col form .top-input{
    display: flex;
    gap: 10px;
}

.form-component-container .second-col form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-component-container .second-col form input{
    height: 50px;
}

input, textarea{
    border-radius: 8px;
    padding: 10px;
    border: 2px solid #d9d9d9;
    font-family: "Poppins", serif;
    width: 100%;
    font-size: 16px;
}

.form-component-container .second-col form textarea{
    height: 200px;
}

.form-component-container .second-col form button{
    background-color: black;
    font-weight: 600;
    color: white;
    padding: 15px;
    font-family: "Poppins", serif;
    border: 2px solid black;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.form-component-container .second-col form button:hover{
    background-color: white;
    color: black;
}

@media screen and (max-width: 760px){
    .form-component-container{
        padding: 20px;
        flex-direction: column;
    }
    .form-component-container .first-col, .form-component-container .second-col{
        width: 100%;
    }
    .form-component-container .first-col .header, .form-component-container .second-col .header{
        font-size: 25px;
    }
    .form-component-container .second-col{
        background-color: #F1F3F6;
        padding: 20px;
        border-radius: 8px;
    }
    input, textarea{
        font-size: 12px;
    }
    input{
        height: 20px;
    }
    textarea{
        height: 30px;
    }
}