.nav-container{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    background-color: var(--primary-color);
}

.nav-container .first-row{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-container .first-row .first-col .logo{
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
}

.nav-container .first-row .first-col a{
    color: white;
    text-decoration: none;
}

.nav-container .first-row .second-col .links{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-container .first-row .second-col .links a{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.nav-container .first-row .second-col .links a:hover{
    text-decoration: underline;
}

.nav-container .first-row .third-col button{
    text-transform: uppercase;
    background-color: white;
    border: 3.5px solid white;
    color: var(--primary-color);
    padding: 10px;
    font-family: "Poppins", serif;
    border-radius: 8px;
    font-weight: bolder;
    cursor: pointer;
}

.nav-container .first-row .third-col button:hover{
    border-color: white;
    background-color: transparent;
    color: white;
    transition: 0.3s ease-in-out;
}

.nav-container .first-row .menu{
    display: none;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}

.nav-container .second-row{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}

.nav-container .second-row a{
    color: white;
    text-decoration: none;
    margin-top: 10px;
    padding: 12px;
    padding-left: 20px;
    font-weight: 600;
    border-bottom: 2px solid #012540;
}

@media screen and (max-width: 970px){
    .nav-container .first-row .first-col .logo{
        font-size: 20px;
    }
    .nav-container .first-row .second-col, .nav-container .third-col{
        display: none;
    }
    .nav-container .first-row .menu{
        display: flex;
    }
}

@media screen and (min-width: 970px){
    .nav-container .second-row{
        display: none;
    }
}